 <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
        <mat-toolbar> <img id="profile-img" class="icon" src="assets/icon.png"></mat-toolbar>
        <mat-nav-list>
                <a mat-list-item href="/customer"> Home</a>
                <a mat-list-item href="/cart">Cart</a>
                <a mat-list-item href="/trackOrder"> Track Order</a>
                <a mat-list-item href="/feedback">Feedback</a>
                <a mat-list-item (click)=" logout()">Logout</a>
              </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span class="navbar-text white-text">
                Hi {{userName}}
            </span>

        </mat-toolbar><br><br>


        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="panel panel-default credit-card-box">
                        <div class="panel-heading display-table">
                            <div class="row display-tr">
                                <h3 class="panel-title display-td">Payment Details</h3>
                                <div class="display-td">
                                    <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="cardNumber">CARD NUMBER</label>
                                            <div class="input-group">
                                                <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                                                    <mat-label> card no.</mat-label>
                                                    <input matInput placeholder="Enter your card no" [formControl]="cardno"
                                                        required>
                                                    <mat-error *ngIf="cardno.invalid">{{getcardErrorMessage()}}</mat-error>
                                                    <mat-icon matSuffix>credit_card</mat-icon>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7 col-md-7">
                                        <div class="form-group">
                                            <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span
                                                    class="visible-xs-inline">EXP</span> DATE</label>
                                            <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                                                <input matInput [matDatepicker]="dp3" placeholder="Choose a date"
                                                    disabled>
                                                <mat-error *ngIf="dp3.invalid">{{getdateErrorMessage()}}</mat-error>

                                                <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                                                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-xs-5 col-md-5 pull-right">
                                        <div class="form-group">
                                            <label for="cardCVC">CVC CODE</label>
                                            <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                                                <mat-label> cvc no.</mat-label>
                                                <input matInput placeholder="Enter your password" [formControl]="cvc"
                                                    [type]="hide1 ? 'password' : 'text'" required>
                                                <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off'
                                                    : 'visibility'}}</mat-icon>
                                                <mat-error *ngIf="cvc.invalid">{{getcvcErrorMessage()}}</mat-error>

                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">

                                        <button mat-button class="subscribe btn btn-success btn-lg btn-block"
                                            [disabled]="cardno.invalid||cvc.invalid||dp3.invalid" (click)="buynow()">Pay
                                            Now</button>

                                    </div>
                                </div>
                                <div class="row" style="display:none;">
                                    <div class="col-xs-12">

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>


            </div>
        </div> 